@use "../../scss/mixins";

.todays-tasks {
    display: grid;
    gap: 4rem;

    padding: 2rem;
    border-radius: 2rem;

    @include mixins.mobile {
        grid-template-columns: 3fr 2fr;
    }

    &__text {
        text-align: center;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;
    }

    &__progress {
        line-height: 2.5rem;
    }

    &__highlight {
        color: var(--color-tertiary);

        font-size: 1.8rem;
        font-weight: 600;

        &--complete {
            color: #00ddb1;
        }
    }

    .button__todays-tasks {
        text-align: left;
    }

    &__completion {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__chart {
        width: 16rem;
        height: 16rem;

        @include mixins.mobile {
            width: 12rem;
            height: 12rem;
        }
    }
}