@use "../../scss/mixins";

.button {
    padding: 1rem;
    border: none;
    border-radius: 100vw;

    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.05rem;

    @include mixins.button-variant("primary", var(--color-primary), white);
    @include mixins.button-variant("secondary", var(--color-background-1), var(--color-primary));
}