@mixin auth-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    height: 100dvh;
    padding: 2rem;

    background-image: url("../assets/images/login-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
        text-align: center;

        padding: 2rem;
        border-radius: 2rem;

        background-color: white;
    }

    &__title {
        margin-bottom: 2rem;

        line-height: 1;
    }

    &__form {
        display: grid;
        gap: 2rem;
        text-align: left;
    }
}

.page-sign-in {
    @include auth-screen;
}