@use "mixins" as *;
@use "variables";

:root {
    @include variables.breakpoints;
    @include variables.colors;
    @include variables.miscellaneous;
    @include variables.typography;

    font-size: 62.5%;
    font-family: var(--font-family-main), var(--font-fallback);
}

*,
* > * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

main {
    flex-grow: 1;

    overflow: hidden;
    padding: 2rem;

    @include desktop {
        padding: 4rem;
    }
}