@use "mixins" as *;
@use "variables";

:root {
    @include variables.colors;
    @include variables.miscellaneous;

    background-color: var(--color-background-1);

    font-size: 62.5%;
    font-family: "OpenSans", Montserrat, sans-serif;
}

[data-lastpass-icon-root] {
    display: none;
}

*,
* > * {
    box-sizing: border-box;
}

body {
    margin: 0;

    color: white;
}

#root {
    min-height: 100vh;
}

main {
    display: grid;
    gap: 2rem;

    overflow: hidden;
    padding: 3rem 2rem 9.5rem;

    animation: fade-in forwards 1s;

    @include desktop {
        padding: 4rem;
    }
}