@use "variables" as *;
@use "mixins";

@include mixins.font-import("OpenSans", "OpenSans/Light.ttf", normal, 300);
@include mixins.font-import("OpenSans", "OpenSans/Regular.ttf", normal, 400);
@include mixins.font-import("OpenSans", "OpenSans/SemiBold.ttf", normal, 500);
@include mixins.font-import("OpenSans", "OpenSans/Bold.ttf", normal, 600);
@include mixins.font-import("OpenSans", "OpenSans/Medium.ttf", normal, 700);
@include mixins.font-import("OpenSans", "OpenSans/ExtraBold.ttf", normal, 800);

@include mixins.font-import("OpenSans", "OpenSans/LightItalic.ttf", italic, 300);
@include mixins.font-import("OpenSans", "OpenSans/Italic.ttf", italic, 400);
@include mixins.font-import("OpenSans", "OpenSans/SemiBoldItalic.ttf", italic, 500);
@include mixins.font-import("OpenSans", "OpenSans/BoldItalic.ttf", italic, 600);
@include mixins.font-import("OpenSans", "OpenSans/MediumItalic.ttf", italic, 700);
@include mixins.font-import("OpenSans", "OpenSans/ExtraBoldItalic.ttf", italic, 800);

textarea,
input,
button {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p {
    margin: 0;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 500;
}

a {
    display: inline-block;

    margin-top: 2rem;

    color: var(--color-secondary);

    font-weight: 500;
    text-decoration: none;

    transition: color var(--timing);
}