.donut {
    display: block;

    margin: 0 auto;
    border-radius: 50%;

    &__track {
        fill: transparent;
        stroke: var(--color-background-2);
        stroke-width: 26;
    }

    &__progress {
        fill: transparent;
        stroke: var(--color-primary);
        stroke-width: 26;
        stroke-dasharray: 0 10000;
        transition: stroke-dasharray .3s ease;
    }

    &__text {
        fill: var(--color-primary);
    }

    &__value {
        font-size: 2.2rem;
    }

    &__percent {
        font-size: 1.4rem;
    }

    &__value-label {
        font-size: 0.9rem;
    }

    &.donut--todays-tasks {
        .donut__track {
            stroke: var(--color-background-2);
        }

        .donut__progress {
            stroke: var(--color-background-1);
        }

        .donut__text {
            fill: var(--color-background-1);
        }
    }
}