.donut {
    display: block;

    margin: 0 auto;
    border-radius: 50%;

    &__track {
        fill: transparent;
        stroke: var(--color-background-1);
        stroke-width: 26;
    }

    &__progress {
        fill: transparent;
        stroke: var(--color-tertiary);
        stroke-width: 26;
        stroke-dasharray: 0 10000;
        transition: stroke-dasharray .3s ease;
    }

    &__text {
        fill: var(--color-tertiary);
    }

    &__value {
        font-size: 2.2rem;
    }

    &__percent {
        font-size: 1.4rem;
    }

    &__value-label {
        font-size: 0.9rem;
    }
}